// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.files-app-wp {
    --color-black: #222831;
    --color-black-light: #393e46;
    --color-red: #dd2c00;
    --color-orange: #f6ab6c;
    --color-gray: #eeeeee;
    --color-black-transparent: rgba(0, 0, 0, 0.3);
    --color-green: #bbd196;
    --color-purple: #6f4a8e;
    background-color: var(--color-black-light);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin: 0;
    max-height: 100vh;
    padding: 0;
    * {
        box-sizing: border-box;
    }
    button,
    input {
        font-size: 1rem;
        outline: 0;
    }
    .files-app {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: stretch;
        .header {
            flex: 0 0 auto;
            background-color: var(--color-black);
            color: var(--color-gray);
            .header-options {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                padding: 0.5rem;
                .space {
                    flex: 1 1 auto;
                }
            }
            .header-path {
                background-color: var(--color-gray);
                padding: 0.5rem;
                .path {
                    color: var(--color-black);
                    padding: 0 0.5rem;
                    word-wrap: break-word;
                }
            }
            &>* {
                margin: 0;
            }
        }
        .main {
            color: var(--color-gray);
            flex: 1 1 auto;
            overflow-y: scroll;
        }
    }
    .files-container {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 0.5rem;
    }
}

// Estilos para todos los botones
.action-button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    margin: 0 0.5rem;
    outline: 0;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    &:hover {
        background-color: var(--color-black-transparent);
    }
    &.white {
        color: var(--color-gray);
    }
    &.green {
        color: var(--color-green);
    }
    &.black {
        color: var(--color-black);
    }
    &.red {
        color: var(--color-red);
    }
    &.orange {
        color: var(--color-orange);
    }
    span {
        display: inline-block;
        margin-left: 0.5rem;
    }
}